body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.termas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.termas {
    width: 200px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.termas h2 {
    color: #007bff;
}

.termas p {
    margin-top: 10px;
}
