body {
    font-family: Arial, sans-serif;
}


hr {
    border: none; /* Eliminar bordes predeterminados */
    height: 1px; /* Establecer el grosor de la línea */
    background-color: #ddd; /* Color de la línea */
    margin: 20px auto; /* Centrar horizontalmente y añadir espacio arriba y abajo */
    max-width: 80%; /* Ajustar el ancho máximo de la línea */
}


/* Styles for the slider container */
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1350px; /* Adjust as needed */
    margin: 0 auto;
  }
  
  /* Styles for the slider */
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  /* Styles for each slide */
  .slide {
    flex: 0 0 100%; /* Each slide occupies full width */
  }
  
  /* Styles for the slide images */
  .slide img {
    width: 100%;
    height: auto;
  }
  
  /* Styles for navigation buttons */
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 36px; /* Slightly larger font size */
    cursor: pointer;
    z-index: 1;
  }
  
  .prev {
    left: 30px; /* Increased left margin */
  }
  
  .next {
    right: 30px; /* Increased right margin */
  }


 





 /* Animación de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos para "BIENVENIDO" y "TERMAS SOLARES COBRE INOX" */
.welcome-container h1,
.welcome-container h2 {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

/* Estilos adicionales */


h1 {
    color: rgb(0, 85, 255);
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

.paragraph-container {
    text-align: justify;
    margin: 0 auto;
    max-width: 600px;
}

p {
    font-size: 1em;
}

/* Media queries para hacerlo responsive */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    .paragraph-container {
        max-width: 90%;
    }

    p {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1em;
    }

    .paragraph-container {
        max-width: 100%;
        padding: 0 10px;
    }

    p {
        font-size: 0.8em;
    }
}









/* Estilos para la sección horizontal */
.horizontal-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* Para mantener los elementos en una línea horizontal */
    overflow-x: auto; /* Para permitir el desplazamiento horizontal en dispositivos pequeños */
    gap: 20px;
    padding: 20px;
}

.box {
    position: relative;
    flex: 0 0 auto;
    width: 250px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.box img {
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 10px rgba(0, 170, 255, 0.5)); /* Efecto de sombra futurista */
    transition: filter 0.3s ease;
}

.box:hover img {
    filter: drop-shadow(0 0 20px rgba(0, 170, 255, 1)); /* Aumentar el efecto de sombra al pasar el mouse */
}

.box h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #00aaff; /* Color del título */
}

.box p {
    font-size: 1em;
    color: #888;
    line-height: 1.4;
}

/* Media queries para hacerlo responsive */
@media screen and (max-width: 1200px) {
    .horizontal-section {
        justify-content: flex-start;
    }

    .box {
        margin-right: 20px;
    }

    .box:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .horizontal-section {
        flex-wrap: wrap;
        padding: 10px;
        justify-content: space-around; /* Distribuir los elementos equitativamente */
    }

    .box {
        flex-basis: calc(50% - 20px); /* Dos elementos por fila con un espacio de 20px entre ellos */
        margin-bottom: 20px;
        margin-right: 0;
    }
}



/* Estilos para la sección de la galería de imágenes */
.sales-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.sales-card {
    flex: 0 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    text-align: center;
    margin-bottom: 20px;
}

.sales-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.sales-card img:hover {
    transform: scale(1.05); /* Aumentar el tamaño al pasar el mouse */
}

.sales-card h3 {
    font-size: 1em;
    margin: 10px 0;
}

.sales-card p {
    font-size: 0.9em;
    color: #888;
}

#show-more-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#show-more-btn:hover {
    background-color: #0056b3;
}

/* Media queries para hacerlo más responsivo */
@media screen and (max-width: 1200px) {
    .sales-card {
        flex: 0 0 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .sales-card {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}










/* Estilos para la sección de contenido */
.conted {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conted .image-box,
.conted .conted-box {
    flex: 1;
    width: 100%;
    text-align: center; /* Centrar el contenido dentro del contenedor */
}

.conted .image-box img {
    max-width: 70%; /* La imagen se ajustará al ancho del contenedor */
    height: auto;
}

.conted .conted-box {
    padding: 10px; /* Relleno reducido */
    background-color: #f9f9f9;
    text-align: center; /* Centrar texto */
    margin-top: 10px; /* Espacio entre elementos */
}

.conted .conted-box h2 {
    font-size: 1.2em; /* Tamaño de fuente reducido */
    color: #007bff; /* Color azul para el título */
    margin-bottom: 5px; /* Margen inferior reducido */
}

.conted .conted-box p {
    font-size: 0.9em; /* Tamaño de fuente reducido */
    color: #444; /* Color del texto */
    line-height: 1.3;
    margin-top: 0; /* Reiniciar margen */
}

/* Media query para dispositivos de pantalla pequeña */
@media (min-width: 768px) {
    .conted {
        flex-direction: row;
    }

    .conted .conted-box {
        margin-top: 0; /* Reiniciar margen */
        margin-left: 10px; /* Añadir margen entre cajas */
    }
}





.img1 {
    padding: 20px; /* Añadir espacio alrededor del contenido */
    text-align: center; /* Centrar el texto */
}

.img1 h1 {
    font-size: 1.5em; /* Tamaño de fuente del título */
    color: #007bff; /* Color azul */
    margin-bottom: 10px; /* Espacio entre el título y el párrafo */
}

.img1 p {
    font-size: 1em; /* Tamaño de fuente del párrafo */
    color: #444; /* Color del texto */
    line-height: 1.5;
    margin-top: 0; /* Reiniciar margen superior */
}

.separator {
    border: none; /* Eliminar bordes */
    border-top: 1px solid #ddd; /* Línea divisoria */
    margin: 20px auto; /* Centro horizontalmente la línea y añade espacio arriba y abajo */
    max-width: 80%; /* Ajusta el ancho máximo de la línea */
}
